/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}




/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-main:#111;
	--color-background:white;
	--color-darkmode: #333;
	--color-plus: rgb(136, 226, 100);
	--color-min: rgb(240, 104, 80);
	--color-accent: pink;
	--color-accentdark: rgb(78, 12, 34);
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:Montserrat;
  color:var(--color-main);
  background-color:var(--color-background);
  margin: 0;
  padding: 0;
  background-image: url("/images/achtergrond.png");
  /* https://wallpapercave.com/kawaii-aesthetic-wallpapers */
  background-size: cover;
  background-attachment: fixed;
}

/* jouw code */
section:nth-of-type(1) {
	display: flex;
}

section h1 {
	text-align: left;
	font-size: 1.5em;
	margin: .5em .5em 0;
	position: relative;
}

h2 {
	font-size: 1em;
	margin: 1em 0 0 .8em;
}

h3 {
	font-size: .6em;
	padding: 0;
	margin: 1em 0 0 1em;
	max-width: 11.5em;
	overflow: hidden;
}

p {
	font-size: .5em;
	padding: 0;
	margin: 0 0 0 1.2em;
}

aside {
	margin: 1em;
	font-size: .7em;
}

aside section {
	margin-bottom: .5em;
}

aside section label {
	margin-right: 1em;
	font-size: 1.2em;
}

aside section button {
	margin-right: 1em;
	height: 2em;
	border-radius: 1em;
	border: none;
	background-color: var(--color-accent);
	transition: .5s;
}

aside section button:hover {
	-webkit-box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.75);
}

aside section input {
	padding-left: .5em;
	border-radius: 1em;
	border: .1em solid black;
}

section:nth-of-type(2) ul{
	background-image: url(/images/plank.png);
	background-repeat: repeat-x;
	background-size: auto 30%;
	background-position: center bottom;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 0 .5em;
	list-style: none;
	height: 18em;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
}

/* Drag icoon 
https://icon-library.com/icon/drag-icon-5.html*/
section>img {
	height: 6em;
	position: absolute;
	bottom: -7em;
	left: 1em;
	opacity: 35%;
	z-index: 1000;
}

/* Empty state */
ul#mijnLijst:empty {
	justify-content: center;
}

ul#mijnLijst:empty::before {
	content:"Sleep je favo boeken hierheen!";
}

ul li button {
	display: flex;
	position: relative;
	margin: auto;
	background-color: var(--color-plus);
	border: none;
	border-radius: .5em;
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.25);
	width: 3em;
	height: 1.5em;
	justify-content: center;
}

.min {
	background-color: var(--color-min);
}


section:nth-of-type(3) ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	padding: 0 0 2em 0;
	list-style: none;
	width: 100%;
	overflow-x: scroll;
	white-space: nowrap;
  }

  section:nth-of-type(3) ul li {
	display: block;
  }

  li img {
  width: 7em;
  margin: .5em;
  transition: 0.5s;
  }

  li img:hover {
	  transform: scale(1.05);
	  -webkit-box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.75);
	  -moz-box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.75);
	  box-shadow: 0px 8px 16px -4px rgba(0,0,0,0.75);
  }


/* Animatie */
.drag {
	animation: drag 5s 3;
}

@keyframes drag {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20em);
	}
	100% {
		transform: translateY(0);
	}
}

/* Responsive */
@media only screen and (min-width: 768px),
screen and (min-height: 1024px) {
	@keyframes drag {
		0% {
			transform: translateY(-8em);
		}
		50% {
			transform: translateY(-23em);
		}
		100% {
			transform: translateY(-8em);
		}
	}
}

@media only screen and (min-width: 1280px),
screen and (min-height: 1024px) {
	@keyframes drag {
		0% {
			transform: translateY(-8em);
		}
		50% {
			transform: translateY(-23em);
		}
		100% {
			transform: translateY(-8em);
		}
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-image: url("/images/achtergronddark.png");
	}
	h1 {
		color: var(--color-background);
	}
	h2 {
		color: var(--color-background);
	}
	h3 {
		color: var(--color-background);
	}
	p {
		color: var(--color-background);
	}
	aside {
		color: var(--color-background);
	}
	ul#mijnLijst:empty::before {
		color: var(--color-background);
	}
	section:nth-of-type(2) ul{
		background-image: url(/images/plankdark.png);
	}
	aside section button {
		color: var(--color-background);
		background-color: var(--color-accentdark);
	}
}

/* Verminder beweging setting */
@media (prefers-reduced-motion: reduce) {
	body {
		animation: none;
	}
	.drag {
		display: none;
	}
}